body {
  font-family: 'Lato', sans-serif !important;
  font-weight: 400;
  color: #495057 !important;
}

.label-form-display {
  /* fontWeight: 700, color: '#495057', marginBottom: '.5rem', fontSize: '14px' */
  font-weight: 700;
  color: #495057;
  margin-bottom: 0.5rem;
  font-size: 14px;
}
.header-auth {
  font-weight: 700;
  font-size: 19px;
}


body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;

  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}