body {
  font-family: 'Lato', sans-serif !important;
  font-weight: 400;
  color: #495057 !important;
}

.label-form-display {
  /* fontWeight: 700, color: '#495057', marginBottom: '.5rem', fontSize: '14px' */
  font-weight: 700;
  color: #495057;
  margin-bottom: 0.5rem;
  font-size: 14px;
}
.header-auth {
  font-weight: 700;
  font-size: 19px;
}
